.jld

# It's recommended to add manifest.toml to the gitignore to prevent merge conflicts
/Manifest.toml

# IDE things
.vscode/

# Ignore stuff in the output dir
/output
/data

# Ignore any input/output
*.csv
